@{
    ViewData["Title"] = "Privacy Policy";
}



<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>

        .flex-grow-1 {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            justify-content: space-evenly;
        }
    </style>
</head>
<body>

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

</body>
</html>



